@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins',sans-serif;
}
body{
    background: black;
    overflow: hidden;
}
nav{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav .container{
    display: flex;
    align-items: center;
    background: rgb(85, 84, 84);
    width: 400px;
    border-radius: 5px;
    color: rgb(235, 229, 229);
    line-height: 50px;
    
}
.container>div{
    margin-left: 1rem;
}
.container>span {
    margin-left: .5rem;
    cursor: pointer;
}

nav .wrapper{
    position: absolute;
    top: 65px;
    display: flex;
    width: 500px;
    background: rgb(85, 84, 84);
    border-radius: 5px;
}

nav .wrapper ul{
    list-style: none;
    width: 100%;
    
}
.wrapper>ul>li {
    display: block;
    /* border:white 2px solid;*/ 
    padding:.5rem 1rem;
  
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
}
.icon>span{
   margin-right: .5rem;
   height: 30px;
   width: 30px;
   background: grey;
   border-radius: 90%;
   display: inline-flex;
   justify-content: center;
   text-align: center;
   align-items: center; 

}

nav .wrapper ul li a{
    text-decoration: none;
    color: rgb(235, 229, 229);

/*     
    border:white 2px solid 
*/
}
.right{
   
    margin-left: 5px;
}
nav .wrapper ul li:hover {
    background: #3A3B3C;
}
.alert{
    cursor: pointer;
    color: whitesmoke;
}


